* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-image: url(images/background2.png);
    background-repeat: none;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

h1 {
    text-align: center;
    margin: 8% auto 8% auto; 
    font-weight: 500;
    font-size: 1.7em;
}


/* items display */

#items{
        display: flex;
        flex-direction: column;
        text-align: center;
}



#items img {
    height: 25vh;
    width: auto;
    transition: transform .2s;
}



#items img:hover {
    transform: scale(1.1);
    
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-top: 30px;
    padding-top: 30px;
}

footer a {
    margin: 5px;
    text-decoration: none;
    color: inherit;
}




/* overlay */

#sketchbookoverlay, #laptopoverlay, #headphonesoverlay {
    color: black;
    padding: 10% 20%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    text-align: center;
}

p {
    text-align: left;
}


#sketchbookoverlay {
    background-color: rgba(250, 169, 139, .9);
}


#laptopoverlay {
    background-color: rgba(162, 215, 209, .9);
}

#headphonesoverlay {
    background-color: rgba(215, 190, 155, .9);
}


#sketchbookclose, #laptopclose, #headphonesclose {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 2em;
}

.open {
    margin-top: 8%;
}


/* media query */

@media only screen and (min-width: 769px) {
    h1 {
        padding-top: 30px;

    }
    
    #items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    
    }
    
    #items img {
        width: 100% !important;
        height: auto !important;
        max-width: 300px;

	}

    

}

        
        