* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #bee7f6;
}


h1 {
    text-align: center;
    color: #526150;
    margin-top: 40px;
}

/* sushi plates and eat plate */

#plates {
    width: 10000px;
    overflow: hidden;

}

#plates img {
    margin: 25px 10px;
    width: 180px; 
    transition: transform .2s;
}


#plates img:hover {
    transform: scale(1.15);
}

#belt {
    background-image: url(images/beltsushi.png);
    background-position: center;
    height: 240px;
}


#eat {
    background-image: url(images/eatplate.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 306px;
    height: 320px;
    position: relative;
    margin: auto;
    top: 35px;
    
}

#eatsections {
    padding-top: 24px;
    padding-left: 20px;
}

#eatsections img {
    margin: -30px;
}
    

/* receipt */


#receiptoverlay {
    display: none;
    background-color: rgb(248,154,71, .5);
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#receiptsheet {
    background-color: rgba(255, 255, 245, .9);
    border: 3px double black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 55%;
    min-width: 300px;
    height: 80%;
    padding: 30px;
}


#receiptsheet p {
    text-align: center;
    line-height: 1.6em;
    margin-bottom: 2.4em;
}

.button {
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    padding: 13px;
    width: 160px;
    margin: 5px 30px;
    border: 2px rgb(248,154,71) solid;
    border-radius: 50px;
    transition: transform .1s;
}

.button:hover {
    background-color: rgb(248,154,71);
    transform: scale(.97);
    
}

#receiptsheet .button  {
    margin: auto;
}

#control {
    justify-content: center;
    display: flex;
    position: relative;
    top: 40px;

}
 
#control .button {
    margin: 5px;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 30px;
    padding-top: 30px;

}

footer a {
    margin: 5px;
    text-decoration: none;
    color: #526150;
    
}


/** media query **/ 


@media only screen and (min-width: 769px) {
   body {
    font-family: 'Roboto Mono', monospace;
    background-image: url(images/background.png) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
    
    #eat {
        top: 70px;
    }
    
    #control {
        position: absolute;
        display: block;
        right: 20px;
        top: 600px;
}
    
    
    #control .button {
        margin: 7px;
    }
    
    #receiptsheet {
        width: 40%;
    height: 80%;
        max-width: 400px;
    }
}

